.App {
  text-align: center;
  overflow-x: hidden;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


:root {
  --cor-verde: #24B677;
  --cor-branca: #fff;
}

.background-section {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


/* https://br.freepik.com/fotos-gratis/belo-rio-rodeado-de-plantas-e-flores-pelas-montanhas-sob-o-ceu-colorido_11111325.htm#fromView=search&page=3&position=20&uuid=b36febd8-8086-4151-be50-35b6de1daa81*/

.background1 {
  background-image: url('../public/vertical-picture-sea-surrounded-by-rocks-covered-greenery-sunlight.jpg');
  min-height: 100vh;
}

.Logo img {
  margin-left: -75%;
  width: 18%;
  margin-top: 3%;
}

.pesquisa {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -5%;
  margin-bottom: 5%;
  width: 60%;
  margin-left: 20%;
}

.pesquisa input {
  width: 350px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px 0 0 4px;
}

.search-button {
  padding: 10px;
  border: 1px solid #ddd;
  background-color: var(--cor-verde);
  height: 40.7px;
  color: white;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}

.icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: 10%;
}

.icon-button {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin: 0 2%;
  margin-right: 2%;
  margin-top: -5%;
  font-size: 16px;
  color: var(--cor-branca);
  font-weight: bold;
}

.icon-button i {
  margin-right: 5%;
}

.icon-button span {
  margin-right: 5%;
}

/* Cart and Favorites styles */
.cart,
.favorites {
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  background-color: #fff;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  transform: translateX(0);
  transition: transform 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.cart-header,
.favorites-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}

.cart-header h2,
.favorites-header h2 {
  margin: 0;
  font-size: 18px;
}

.close-cart,
.close-favorites {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
  margin: 20px 0;
  flex-grow: 1;
  overflow-y: auto;
}

li {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}

li img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

li span {
  flex-grow: 1;
  text-align: left;
}

.remove-item {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: var(--cor-vermelho);
}

.checkout-button {
  background-color: var(--cor-verde);
  color: var(--cor-branca);
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 2px 2px 5px var(--cor-preto);
  text-align: center;
  margin-bottom: 15%;
  box-shadow: 1px 1px 1px #000;
}

.quantity {
  display: flex;
  align-items: center;
}

.increment,
.decrement {
  background-color: var(--cor-verde);
  color: var(--cor-branca);
  border: none;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  cursor: pointer;
  margin: 0 5px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.increment:active,
.decrement:active {
  transform: scale(0.9);
}

.quantity span {
  min-width: 20px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}

@media (max-width: 600px) {
  .Logo img {
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  }

  .pesquisa {
    width: 80%;
    margin-right: 15%;
    margin-top: 5%;
  }

  .icons {
    margin-right: -10%;
    justify-content: center; /* Centraliza os ícones horizontalmente */
  }

  .icon-button {
    margin: 0 5%; /* Ajusta a margem para centralizar os ícones */
  }

  .icon-button i {
    font-size: 150%;
  }

  .icon-button span {
    display: none; /* Esconde o texto para focar apenas no ícone */
  }
}

@media (max-width: 450px) {

  .icon-button i {
    font-size: 100%;
    margin-left: 3%;
    margin-right: 10%;
  }

  .icon-button {
    margin-left: 5%;
  }

  .icons{
    margin-top: -8%;
    margin-bottom: 15%;
    margin-left: 55%;
  }

  .pesquisa {
    width: 50%;
    margin-left: 27%;
  }

}
