/* Estilos Globais */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif; /* Adicione uma fonte padrão */
}

:root {
  --color-green: #24B677;
  --color-dark-green: #1d7902;
  --color-white: #fff;
  --color-black: #000;
  --color-gray: #333;
}

/* Container Principal */
.App {
  text-align: center;
  overflow-x: hidden;
}

/* Logo */
.Logo img {
  width: 18%;
  margin-top: 3%;
  margin-left: auto;
  margin-right: auto; /* Centraliza a logo horizontalmente */
}

/* Barra de Pesquisa */
.pesquisa {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: -5% auto 5%;
  width: 60%;
}

.pesquisa input {
  width: 350px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px 0 0 4px;
}

.search-button {
  padding: 10px;
  border: 1px solid #ddd;
  background-color: var(--color-dark-green);
  height: 41px;
  color: var(--color-white);
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}

/* Ícones */
.icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: 10%;
}

.icon-button {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin: 0 2%;
  font-size: 16px;
  color: var(--color-dark-green);
  font-weight: bold;
}

.icon-button i {
  margin-right: 5%;
}

.icon-button span {
  margin-right: 5%;
}



/* Carrinho e Favoritos */
.cart,
.favorites {
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  background-color: var(--color-white);
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  transform: translateX(0);
  transition: transform 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.cart-header,
.favorites-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}

.cart-header h2,
.favorites-header h2 {
  margin: 0;
  font-size: 18px;
}

.close-cart,
.close-favorites {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.cart ul,
.favorites ul {
  list-style: none;
  padding: 0;
  margin: 20px 0;
  flex-grow: 1;
  overflow-y: auto;
}

.cart li,
.favorites li {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}

.cart li img,
.favorites li img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.cart li span,
.favorites li span {
  flex-grow: 1;
  text-align: left;
}

.remove-item {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: var(--color-red);
}

.checkout-button {
  background-color: var(--color-green);
  color: var(--color-white);
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  box-shadow: 2px 2px 5px var(--color-black);
}

/* Controle de Quantidade */
.quantity {
  display: flex;
  align-items: center;
}

.increment,
.decrement {
  background-color: var(--color-green);
  color: var(--color-white);
  border: none;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  cursor: pointer;
  margin: 0 5px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.increment:active,
.decrement:active {
  transform: scale(0.9);
}

.quantity span {
  min-width: 20px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}


/* Rodapé */
footer {
  padding: 40px 20px;
  background-color: #f9f9f9;
  color: var(--color-gray);
}

footer a {
  color: var(--color-gray);
  text-decoration: none;
}

footer .container {
  display: flex;
  flex-direction: column; /* Força as colunas a ficarem em uma única coluna para centralizar */
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center; /* Centraliza todo o texto dentro das colunas */
}

footer .col {
  margin-bottom: 20px;
}

footer .col h3 {
  font-size: 24px; /* Aumenta ainda mais o tamanho dos títulos */
  margin-bottom: 15px;
  color: var(--cor-preta); /* Deixa o título mais visível */
  font-weight: bold;
}

footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

footer li {
  margin-bottom: 5px;
}

footer i {
  margin-right: 5px;
}

/* Métodos de Pagamento */
.payment-methods {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 1.5rem;
}

.payment-methods img {
  width: 50px;
  height: auto;
}

.selo-seguranca {
  width: 100px;
  display: block;
  margin-top: 10px;
}

/* Ajuste para telas menores */
@media (max-width: 600px) {
  footer .col h3 {
    font-size: 22px; /* Mantém o título grande, mas ajusta para telas menores */
  }
}



@media (max-width: 450px) {
  .pesquisa {
    width: 50%;
    margin-left: auto;
  }

  .footer {
    padding: 40px;
    background-color: #dddee0;
  }

  .footer .col {
    margin: 20px auto;
    text-align: center;
  }

  .footer .social-icons {
    justify-content: center;
    margin-top: 15px;
  }
}
