/* NavigationBar.css */
.links-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    background-color: #ffff;
    border-radius: 5px;
    width: 30%;
    margin-left: 34.5%;
  }
  
  .links-nav a {
    text-decoration: none;
    color: #000;  
    font-size: 25px;
    padding: 10px 25px;
    transition: background-color 0.3s ease, color 0.3s ease;
    font-size: 15px;
  }
  
  .links-nav a:hover {
    background-color: var(--cor-verde);
    color: white;
    border-radius: 5px;
  }
  


  @media (max-width: 600px) {

    .links-nav a{
      color: #000;
      background-color: #fff;
    }
  }
  