/* NavigationBar.css */
.links-nav {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    background-color: #ffff;
    border-radius: 5px;
    width: 60.24%;
    margin-left: 19%;
  }
  
  .links-nav a {
    text-decoration: none;
    color: #000; 
    font-size: 25px;
    padding: 10px 20px;
    transition: background-color 0.3s ease, color 0.3s ease;
    font-size: 15px;
  }
  
  .links-nav a:hover {
    background-color: var(--cor-verde);
    color: white;
  }
  


  @media (max-width: 600px) {
    .links-nav, .links-nav a{
      width: 0%;
    }

    .links-nav a{
      color: #fff;
    }
  }
  